{% extends "global/base.html" %}
{% block content %}
{% load crispy_forms_tags %}
<br>
<p>You are currently logged in as {{email}}
{% if not cv %}
  <p>You have not completed your online CV, and will not be able to apply for any jobs until you do.
    Click <a href="{% url 'cv' %}">here</a> to complete your online CV</p>
{% endif %}
<h2>Jobs you've applied for:</h2>


{% if job_list %}
<div id="accordion">
   {% for i in job_list %}
   <h3>{{i.0.job_title}}</h3>
   <div>
      <h4> Applicants</h4>
      <p>{{i.0.job_desc}}</p>
      <!-- <p>{{job.organisation.organisation_name}}</p> -->
      <h4> Type of job</h4>
      <p>{{i.0.industry_type.model_name}}</p>
      <h4>Job Deadline</h4>
      <p id="deadline">{{i.0.deadline}}</p>
      <h4>Application Status</h4>
      {% ifequal i.2 "not_set" %}
        <p style="color:green">{{i.1}}</p>
      {% endifequal %}
      {% ifequal i.2 "phone interview" %}
        <p style="color:green">You have been selected for a phone interview, a recruiter will contact you shortly</p>
        {% endifequal %}
      {% ifequal i.2 "in person interview" %}
        <p style="color:green">You have been selected for an in person interview, a recruiter will contact you shortly</p>
        {% endifequal %}
      {% ifequal i.2 "further testing" %}
        <p style="color:green">You have been selected to undergo further testing, a recruiter will contact you shortly</p>
        {% endifequal %}
      {% ifequal i.2 "reject applicant" %}
        <p style="color:red">Unfortunately, you do not meet the requirements for this job at the current time.</p>
      {% endifequal %}
   </div>
   {% endfor %}
</div>
{% else %}
<p>No jobs are available.</p>
{% endif %}
<script>
    $( "#accordion" ).accordion({
        collapsible: true
    });
    </script>
{% endblock %}
