{% extends "global/base.html" %}
{% block content %}
{% load crispy_forms_tags %}
<br>
<p>You are currently logged in as {{email}}</p>
{% if cv %}
  <h3>Update your CV</h3>
  <p>You have already uploaded a CV. You can update your CV below.</p>
{% else %}
  <h3>Create your CV</h3>
{% endif %}
<br>
{% if error is not None %}
  <p style="color: red">{{error}}</p>
{% endif %}
<form action="{% url 'cv' %}" method="post">

  <div id='forms'>
      {{ form|crispy }}
    {% csrf_token %}
    {% for field in form %}
      {{ field.label_tag }} {{ field }}

      {% endfor %}


    </div>

    <br>
    <div class="btn-group" role="group" aria-label="Basic example">
    <button id="add-another" type="button"  class="btn btn-info">Add skill</button>
    <button id="remove-another" type="button"  class="btn btn-secondary">Remove skill </button>
    </div>
        <input type="submit" class="btn btn-primary" value="Submit">





</form>


<script>
form_count = Number($("[name=extra_field_count]").val());
// get extra form count so we know what index to use for the next item.

$("#add-another").click(function() {
    form_count ++;
    element = $('<div class="form-group"><label>Skill:</label>');
    element.attr('name', 'extra_field_' + form_count);
    element.attr('class', 'extra_field_' + form_count)
    $("#forms").append(element);
    element = $('<input type="text"/></div>');
    element.attr('name', 'extra_field_' + form_count);
    element.attr('class', 'extra_field_' + form_count);
    $("#forms").append(element);
    element = $('<div class="form-group"><label>Expertise:</label>');
    element.attr('name', 'extra_field_' + form_count);
    element.attr('class', 'extra_field_' + form_count)
    $("#forms").append(element);
    element = $('<input type="number"/></div>');
    element.attr('name', 'extra_field_' + form_count);
    element.attr('class', 'extra_field_' + form_count)
    $("#forms").append(element);

    // build element and append it to our forms container

    $("[name=extra_field_count]").val(form_count);
    // increment form count so our view knows to populate
    // that many fields for validation
})
$("#remove-another").click(function() {


    $('.extra_field_' + form_count).remove();
    form_count --;
    // build element and append it to our forms container

    $("[name=extra_field_count]").val(form_count);
    // increment form count so our view knows to populate
    // that many fields for validation
})
</script>
{% endblock %}
