{% extends "global/base.html" %}
{% block content %}
{% load crispy_forms_tags %}
<br>
<p>You are currently logged in as {{email}}
{% if not cv %}
  <p>You have not completed your online CV, and will not be able to apply for any jobs until you do.
    Click <a href="{% url 'cv' %}">here</a> to complete your online CV</p>
{% endif %}
<h2>Available Jobs</h2>


<form method="get" action="/filter">
    {{ filter.form|crispy }}
    <button type="submit" class="btn btn-info btn-sm btn-block" >Filter</button>
  </form>
<br>
{% if job_list %}
<div id="accordion">
   {% for job in job_list %}
   <h3>{{job.job_title}}</h3>
   <div>
      <h4> Description</h4>
      <p>{{job.job_desc}}</p>
      <!-- <p>{{job.organisation.organisation_name}}</p> -->
      <h4> Type of job</h4>
      <p>{{job.industry_type}}</p>
      <h4>Job Deadline</h4>
      <p id="deadline">{{job.deadline}}</p>
      <a style="color: blue" href="{% url 'job' job.id %}">More info</a>
   </div>
   {% endfor %}
</div>
{% else %}
<p>No jobs are available.</p>
{% endif %}
<script>
    $( "#accordion" ).accordion({
        collapsible: true
    });
    </script>
{% endblock %}
