<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- <link rel="stylesheet" type="text/css" href="./main.css" > -->
    <style>
    h1{
        font-size: 29px;
    }
    </style>
    <title>Employer Center</title>
    </head>

    <body>

        <div class="container">

  <!-- Content here -->

        <h1> Employer Center</h1>
         <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link {{ home_page }}" id="pills-home-tab" data-toggle="pill" href="/admin/index" role="tab" aria-controls="pills-home" aria-selected="true">Home</a>
            </li>
            <li class="nav-item ml-auto">
                <a class="nav-link {{ new_model_page }}" id="pills-profile-tab" data-toggle="pill" href="/admin/new_model" role="tab" aria-controls="pills-profile" aria-selected="false">New model</a>
            </li>
         </ul>
    {% block content %}{% endblock %}

</div>


    </body>

    </html>
