{% extends "global/base.html" %}
{% block content %}
{% load crispy_forms_tags %}
<br>

<h2>All jobs:</h2>

<br>

{% if job_list %}
<div id="accordion">
   {% for job in job_list %}
   <h3>{{job.job_title}}</h3>
   <div>
      <h4> Description</h4>
      <p>{{job.job_desc}}</p>
      <!-- <p>{{job.organisation.organisation_name}}</p> -->
      <h4> Type of job</h4>
      <p>{{job.industry_type}}</p>
      <h4>Job Deadline</h4>
      <p id="deadline">{{job.deadline}}</p>
      <a style="color: blue" href="{% url 'employer_job' %}">View Applications</a>
   </div>
   {% endfor %}
</div>
{% else %}
<p>No jobs are available.</p>
{% endif %}
<script>
    $( "#accordion" ).accordion({
        collapsible: true
    });
    </script>
{% endblock %}
