{% extends "employerportal/base.html" %}
{% block content %}
<br>
   {% if job %}
   <div>
      <h4> Description</h4>
      <p>{{job.job_desc}}</p>
      <!-- <p>{{job.organisation.organisation_name}}</p> -->
      <h4> Type of job</h4>
      <p>{{job.industry_type.model_name}}</p>
      <h4>Job Deadline</h4>
      <p id="deadline">{{job.deadline}}</p>
      {% if application_list %}
      <h4>List of applicants:</h4>
            {% for i in application_list %}
            <a style="color: blue" href="./{{i.userid.id}}">{{i.userid}}</a><br>
            {% endfor %}
      {% else %}
      <h2>There are currently no applicants to this job</h2>
      {% endif %}
   </div>
   {% else %}
      <h2>There is no job to show</h2>
   {% endif %}
{% endblock %}
