{% extends "global/base.html" %}
{% block content %}
{% load crispy_forms_tags %}
<br>
<h2>Available Jobs</h2>
{% if email %}
  <p>You are currently logged in as {{email}}</p>
{% else %}
  <p>Please log in to apply to the following jobs.</p>
{% endif %}
  <form method="get" action="/filter">
    {{ filter.form|crispy }}
    <button type="submit" class="btn btn-info btn-sm btn-block" >Filter</button>
  </form>
<br>
{% if job_list %}
<div id="accordion">
   {% for job in filter.qs %}
   <h3>{{job.job_title}}</h3>
   <div>
      <h4> Description</h4>
      <p>{{job.job_desc}}</p>
      <!-- <p>{{job.organisation.organisation_name}}</p> -->
      <h4> Type of job</h4>
      <p>{{job.industry_type.model_name}}</p>
      <h4>Job Deadline</h4>
      <p class="deadline">{{job.deadline}}</p>
      {% if email %}
      <a style="color: blue" href="{% url 'job' job.id %}">More info</a>
      {% endif %}
   </div>
   {% endfor %}
</div>
{% else %}
<p>No jobs are available.</p>
{% endif %}
<script>
    $( "#accordion" ).accordion({
        collapsible: true
    });
</script>
{% endblock %}
