{% extends "global/base.html" %}
{% block content %}
<br>
<h2>Available Jobs</h2>
<p>Please log in to apply to the following jobs.</p>

  <form method="get" action="/filter">
    {{ filter.form.as_p }}
    <button type="submit">Search</button>
  </form>

{% if job_list %}
<div id="accordion">
   {% for job in filter.qs %}
   <h3>{{job.job_title}}</h3>
   <div>
      <h4> Description</h4>
      <p>{{job.job_desc}}</p>
      <!-- <p>{{job.organisation.organisation_name}}</p> -->
      <h4> Type of job</h4>
      <p>{{job.industry_type}}</p>
      <h4>Job Deadline</h4>
      <p id="deadline">{{job.deadline}}</p>
   </div>
   {% endfor %}
</div>
{% else %}
<p>No jobs are available.</p>
{% endif %}
<script>
$( "#accordion" ).accordion();
</script>
{% endblock %}
