{% extends "global/base.html" %}
{% block content %}
{% load crispy_forms_tags %}
<br>
<h2>Available Jobs</h2>
<p>Please log in to apply to the following jobs.</p>

  <form method="get" action="/filter">
    {{ filter.form|crispy }}
    <button type="submit" class="btn btn-info btn-sm btn-block" >Filter</button>
  </form>


  <!-- <hr> -->
<br>
{% if job_list %}
<div id="accordion">
   {% for job in job_list %}
   <h3>{{job.job_title}}</h3>
   <div>
      <h4> Description</h4>
      <p>{{job.job_desc}}</p>
      <!-- <p>{{job.organisation.organisation_name}}</p> -->
      <h4> Type of job</h4>
      <p>{{job.industry_type.model_name}}</p>
      <h4>Job Deadline</h4>
      <p class="deadline">{{job.deadline}}</p>
      <form action="{% url 'aaron_login' %}">
                <div class="form-group">
      <button class ="apply" class="btn btn-success">Apply</button>
          </div>
    </form>

   </div>
   {% endfor %}
</div>
{% else %}
<p>No jobs are available.</p>
{% endif %}
<script>
$( "#accordion" ).accordion({
    collapsible: true
});
</script>
{% endblock %}
